*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 6.7vw;
    width: 100vw;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 80;
}
body{
    width: 100%;
    height: 100%;
}
.logo img{
    height: 3vw;
    width: 5vw;
}
nav ul{
    list-style: none;
    display: flex;
    color: #9767A9;
    height: 1.7vw;
    width: 50vw;
    justify-content: space-between;
    font-size: 1.17vw;
}
nav li:hover{
    font-weight: 1000;
    cursor: pointer;
}
.busca input{
    height: 3.1vw;
    width: 16vw;
    border: 0.23vw solid #9767A9;
    border-radius: 8.2vh;
    padding-left: 3vw;
    background-image: url("./img/lupa\ \(1\).png");
    background-position: 0.8vw;
    background-repeat: no-repeat;
    background-size: 1.5vw;
}
::placeholder{
    font-size: 1vw;
  padding-top: 3vw;
}
.redes-sociais{
    display: flex;
    height: 3.1vw;
    width: 10vw;
    justify-content: space-evenly;
    cursor: pointer;
    position: relative;
}
.redes-sociais img{
    width: 2.5vw;
    height: 2.5vw;
}
main{
    color: #ffff;
    padding-top: 6.7vw;
}
.fundo{
    height: 60vw;
    width: 99vw;
    background-image: url("./img/fundo\ total.png");
    background-repeat: no-repeat;
    background-size: 100vw 60vw;
    position: relative;
}
.titulo{
    display: flex;
    position: absolute;
}
.titulo h1{
    position: absolute;
    left: 15vw;
    top: 28vw;
    font-size: 6.7vw;
}
.titulo div{
    height: 7.6vw;
    width: 28vw;
    position: absolute;
    left: 56vw;
    top: 32vw;
}
.titulo p{
    font-size: 2.4vw;
}
.dicas{
    position: relative;
}
.intro{
    height: 29.5vw;
    width: 99vw;
    background-color: #9767A9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}
.intro-titulo{
    width: 60vw;
    height: 15vw;
    font-size: 2vw;
}
.intro-titulo h2{
    font-size: 4vw;
}
.intro-p{
    width: 30vw;
    height: 21vw
}
.intro-p p{
    font-size: 1.4vw;
}
.dica1 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    left: 6vw;
    top: 26vw;
}
.dica1 div{
    background-color: #9767A9;
    height: 29vw;
    width: 32vw;
    position: absolute;
    left: 11vw;
    top: 51vw;
    padding: 2vw;
}
.dica1, .dica2,.dica3,.dica4,.dica5,.dica6,.dica7 h3{
    font-size: 2.7vw;
    text-align: left;
    padding-bottom: 1vw;
}
.dica1 p{
    font-size: 1vw;
    text-align: left;
}
.dica2 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    right: 6vw;
    top: 43vw;
}
.dica2 div{
    background-color: #9767A9;
    height: 26vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    right: 11vw;
    top: 70vw;
}
.dica2 p{
    font-size: 1vw;
    text-align: left;
}
.dica3 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    left: 6vw;
    top: 86vw;   
}
.dica3 div{
    background-color: #9767A9;
    height: 23vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    left: 11vw;
    top: 110vw;
}

.dica3 p{
    font-size: 1vw;
    text-align: left;
}
.dica4 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    right: 6vw;
    top: 99vw;
}
.dica4 div{
    background-color: #9767A9;
    height: 25vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    right: 11vw;
    top: 125vw;
}

.dica4 p{
    font-size: 1vw;
    text-align: left;
}
.dica5 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    left: 6vw;
    top: 135vw;
}
.dica5 div{
    background-color: #9767A9;
    height: 25vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    left: 11vw;
    top: 161vw;
}

.dica5 p{
    font-size: 1vw;
    text-align: left;
}
.dica6 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    right: 6vw;
    top: 152vw;
}
.dica6 div{
    background-color: #9767A9;
    height: 24vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    right: 11vw;
    top: 180vw;
}

.dica6 p{
    font-size: 1vw;
    text-align: left;
}
.dica7 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    left: 6vw;
    top: 188vw;
}
.dica7 div{
    background-color: #9767A9;
    height: 22vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    left: 11vw;
    top: 215vw;
}
.dica7 p{
    font-size: 1vw;
    text-align: left;
}
.cacho img{
    height: 5vw;
    width: 30vw;
    position: absolute;
    right: 11vw;
    top: 214vw;
}

.grid{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.grid img{
    width: 90vw;
    position: absolute;
    top: 310vw;
}
footer{
    background-color: #9767A9;
    width: 100%;
    height: 100%;
}
footer{
    background-color: #9767A9;
    height: 5.2vw;
    width: 99vw;
    position: absolute;
    top: 360vw;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
}
footer img{
    width: 2.9vw;
    height: 2.7vw;
}
.referencias{
    width:60vw;
    height: 100%;
    font-size: 0.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.setas{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    height: 100%;
}
.setas a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    width: 9vw;
    height: 100%;
}
.setas p{
    font-size: 1.4vw;
}
.setas a:hover{
    background-color:#DCDCDC;
}
.img1{
    width:20vw;
    height:30vw;
}
.img2{
    width:13vw;
    height:15vw;
}
.img3{
    width:13vw;
    height:30vw;
}
.img4{
    width:21vw;
    height:44vw;  
}
.img5{
    height:12vw;
    width:12vw;
}
.img6{
    width:20vw;
    height:13vw;
    position: absolute;
    top:31vw;
    left:0vw;
}
.img7{
    width:13vw;
    height:14.5vw;
    position: absolute;
    top:15.5vw;
    left:21vw;
}
.img8{
    width:13vw;
    height:13vw;
     position: absolute;
     top:31vw;
     left:21vw; 
}
.img9{
    width:13vw;
    height:13vw;
     position: absolute;
     top:31vw;
     left:35vw; 
}
.img10{
    height:31vw;
    width:12vw;
     position:absolute;
     top:13vw;
     left:71vw; 
}
.gridd{
    width:85vw;
    height:45vw;
    position:relative;
    top:240vw;
    left:8vw;
    display: flex;
}
.gridd img{
    margin:0.5vw;
}
@media (max-width:425px){
    header{
        height: 11vw;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20vw;
      }
      .container ul{
        list-style: none;
        position: absolute;
        width: 100%;
        top: 5vw;
        left: 6vw;
        flex-direction: column;
        font-size: 2.50vw;
    }
    .container nav{
        background-color: #9767A9;
        width: 35vw;
        height: 35vw;
        z-index: -1;
        top: 8.01vw;
        left: -40vw;
        position: absolute;
        transition: all .5s;
    }
    input[type="checkbox"]:checked ~ nav{
        transform: translateX(35vw);
    }
    .container li{
        display: block;
        height: 7vw;
        padding: 1vw;
        color: #fff;
    }
    .container li:hover{
        background-color: #AC95BB;
        font-weight: 900;
        width: 28vw;
    }
      label{
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
      }
      label img{
        position: absolute;
        top: -3vw;
        left: -5vw;
      }
    .nav-pc{
        display:none;
    }
    input{
        display: none;
    }
    .redes-sociais{ 
    display: none;
    }
    .logo{
        display: flex;
        width: 100vw;
       position: relative;
       left: 25%;
    }
    .logo img{
        height: 39px;
        width: 69px;
    }
    .fundo{
        width: 100vw;
        background-image: url(./img/fundo\ mobile.png);
    }
    .titulo h1 {
        top: 6vw;
        left: 10vw;
        font-size: 40px;
    }
    .titulo div{
        top: 34vw;
        left:12vw;
    }
    .intro{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30vw;
    }
    .intro-p p{
        position: absolute;
        font-size: 2.3vw;
        left: 2vw;
        top: 8vw;
        padding: 3vw;
    }
    .intro-titulo h2{
        font-size: 3.8vw;
    }
   .dica1 img{
       left: 5%;
       top: 33vw;
       width: 90vw;
       height: 50vw;
   }
   .dica1 div{
       top: 75vw;
       left: 0vw;
       height:33vw;
       width: 100vw;
   }
   .dica1 p{
       padding: 0px 27px;
       font-size: 2.3vw;
       font-style: normal;
   }
   .dica1 h3{
       font-size: 4vw;
   }
    .dica2 img{
        left: 5%;
        top: 110vw;
        width: 90vw;
        height: 50vw;
    }
    .dica2 div{
        top: 155vw;
        left: 0vw;
        height:35vw;
        width: 100vw;
    }
    .dica2 p{
        padding: 0px 27px;
        font-size: 2.3vw;
        font-style: normal;
    }
    .dica2 h3{
        font-size: 4vw;
    }
    .dica3 img{
        left: 5%;
        top: 193vw;
        width: 90vw;
        height: 50vw;
    }
    .dica3 div{
        top: 235vw;
        left: 0vw;
        height:33vw;
        width: 100vw;
    }
    .dica3 p{
        padding: 0px 27px;
        font-size: 2.6vw;
        font-style: normal;
    }
    .dica3 h3{
        font-size: 4vw;
    }
    .dica4 img{
        left: 5%;
        top: 270vw;
        width: 90vw;
        height: 50vw;
    }
    .dica4 div{
        top: 320vw;
        left: 0vw;
        height:33vw;
        width: 100vw;
    }
    .dica4 p{
        padding: 0px 27px;
        font-size: 2.6vw;
        font-style: normal;
    }
    .dica4 h3{
        font-size: 4vw;
    }
    .dica5 img{
        left: 5%;
        top: 355vw;
        width: 90vw;
        height: 50vw;
    }
    .dica5 div{
        top: 395vw;
        left: 0vw;
        height:33vw;
        width: 100vw;
    }
    .dica5 p{
        padding: 0px 27px;
        font-size: 2.4vw;
        font-style: normal;
    }
    .dica5 h3{
        font-size: 4vw;
    }
    .dica6 img{
        left: 5%;
        top: 430vw;
        width: 90vw;
        height: 50vw;
    }
    .dica6 div{
        top: 480vw;
        left: 0vw;
        height:33vw;
        width: 100vw;
    }
    .dica6 p{
        padding: 0px 27px;
        font-size: 2.6vw;
        font-style: normal;
    }
    .dica6 h3{
        font-size: 4vw;
    }
    .dica7 img{
        left: 5%;
        top: 515vw;
        width: 90vw;
        height: 50vw;
    }
    .dica7 div{
        top: 565vw;
        left: 0vw;
        height:33vw;
        width: 100vw;
    }
    .dica7 p{
        padding: 0px 27px;
        font-size: 2.6vw;
        font-style: normal;
    }
    .dica7 h3{
        font-size: 4vw;
    }
   .grid img{
       display: none;
   }
   .setas img {
       display: none;
   }
   .referencias p{
       display: none;
   }
   .setas p {
       display: none;
   }
   footer{
       top: 855vw;
       height: 25vw;
       background-color: white;
       position: absolute;
   }
   .ref-mobile img{
       position: absolute;
       top: 2vw;
       width: 100px;
       height: 44px;
       left: 4vw;
   }
   .ref-mobile2 img{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 70vw;
    top: 2vw;
}
.ref-mobile3 p{
    position: absolute;
   color: black;
    left: 7vw;
    top: 25vw;
    font-weight: lighter;
    font-size: 2.5vw;
} 
.copyright p{
    position: absolute;
    color: black;
    left: 7vw;
    top: 19vw;
    font-weight: bold;
}
.img1{
    width:40vw;
    height:60vw;
}
.img2{
    width:22vw;
    height:22vw;
}
.img3{
    width:72vw;
    height:72vw;
    position: relative;
    top:112vw;
    right:10vw;
}
.img4{
    position: relative;
    top:112vw;
    left:-90vw;
}
.img5{
    width: 21vw;
    height: 20vw;
    position: relative;
    top:157vw;
    left:-112vw; 
}
.img6{
    position:absolute;
    top:61vw;
    right:100vw;
    width:83vw;
    height: 50vw;
}
.img7{
    position:absolute;
    top:-0.1vw;
    left:62vw;
    width:20vw;
    height:20vw;
}
.img8{
    position: absolute;
    top:20vw;
    left: 42vw;
    width: 40vw;
    height: 40vw;
}
.img9{
    position: absolute;
    top:157vw;
    left:27vw;
    width:20vw;
    height:20vw;
}
.img10{
    position: absolute;
    top:112vw;
    left:27vw;
    width:20vw;
    height:44vw;
}
.gridd{
    width:80vw;
    height:200vw;
    display: flex;
    position: relative;
    top: 605vw;
}
.cacho img{
    position: absolute;
    top: 602vw;
    left: 35%;
}
}  
@media (min-width:426px){
    .ref0 div{
        display: none;
    }
    .container{
        display: none;
    }
 
 
}
